$black: #222222;
$black-cart: #575757;
$pink-bkg: #F5F3F3;
$pink-color: #F09BA7;
$pink-btn: #F16D7F;
$pink-bgc: F5F3F3;
$white-text: #FFFFFF;
$white-text-btm: #FBFBFB;
$pink-text: #F16D7F;
$grey-text: #9F9F9F;
$grey-text-form: #B1B1B1;
$grey-bkg: #F8F8F8;
$grey-border: #A4A4A4;
$icon-color: #E8E8E8;
$red-text: #ff0000;
$pink-effects: #df6374;
$animation-speed: 500ms;

$tablet-width: 1599px;
$mobile-width: 767px;