@font-face {
    font-family: "Gill Sans";
    src: url("../fonts/gill-sans-light.woff2") format("woff2"),
       url("../fonts/gill-sans-light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
 }
 
 @font-face {
    font-family: "Gill Sans";
    src: url("../fonts/gill-sans-regular.woff2") format("woff2"),
       url("../fonts/gill-sans-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
 }
 
 @font-face {
    font-family: "Gill Sans";
    src: url("../fonts/gill-sans-italic.woff2") format("woff2"),
       url("../fonts/gill-sans-italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
 }
 
 @font-face {
    font-family: "Gill Sans";
    src: url("../fonts/gill-sans-bold.woff2") format("woff2"),
       url("../fonts/gill-sans-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
 }
 
 @font-face {
    font-family: "Gill Sans";
    src: url("../fonts/gill-sans-black.woff2") format("woff2"),
       url("../fonts/gill-sans-black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
 }